<div class="drawer drawer-end">
  <input id="add-supplier-drawer" type="checkbox" class="drawer-toggle" [checked]="drawerOpen" />
  <div class="drawer-content">
    <div class="bg-base-200 rounded-box shadow p-6">
      <app-supplier-table
        [suppliers]="suppliers"
        (add)="openDrawer()"
        (delete)="handleDelete($event)">
      </app-supplier-table>
    </div>
  </div>
  <div class="drawer-side">
    <label for="add-supplier-drawer" aria-label="close sidebar" class="drawer-overlay" (click)="closeDrawer()"></label>
    <!-- Drawer side panel content -->
    <div class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <app-supplier-form class="flex-1 flex flex-col" (submitSupplier)="handleFormSubmit($event)"></app-supplier-form>
    </div>
  </div>
</div>



