<div class="flex flex-wrap justify-between items-center mb-4 gap-4">
  <input
    type="text"
    class="input input-bordered w-full max-w-xs"
    placeholder="Search users..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange()" />

  <div class="flex gap-2">
    <button
      class="btn btn-error"
      [disabled]="!selectedUser"
      (click)="onDeleteUser(selectedUser!)">
      Delete
    </button>
    <button class="btn btn-outline" (click)="exportToCSV()">
      Export
    </button>
    <button class="btn btn-primary" (click)="onAddUser()">
      + Add User
    </button>
  </div>
</div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-zebra w-full">
    <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Created</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let user of filteredUsers"
      (click)="selectUser(user)"
      class="cursor-pointer"
      [ngClass]="{
          '!bg-accent !text-accent-content': selectedUser?._id === user._id
        }"
    >
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <span class="badge badge-outline">{{ user.role }}</span>
      </td>
      <td>{{ user.createdAt | date: 'shortDate' }}</td>
    </tr>
    </tbody>
  </table>
</div>
