<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col flex-1 space-y-4">

  <!-- Description -->
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Description</legend>
    <textarea class="textarea w-full" placeholder="Enter task description" formControlName="description"></textarea>
  </fieldset>


  <!-- Assigned To -->
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Assigned To</legend>
    <select class="select w-full" formControlName="assignedTo">
      <option [value]="null">Select a user</option>
      <option *ngFor="let user of users" [ngValue]="user">
        {{ user.firstName }} {{ user.lastName }}
      </option>
    </select>
  </fieldset>

  <!-- Contractor -->
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Contractor</legend>
    <select class="select w-full" formControlName="contractor">
      <option [value]="null">Select a supplier</option>
      <option *ngFor="let supplier of suppliers" [ngValue]="supplier">
        {{ supplier.name }}
      </option>
    </select>
  </fieldset>

  <!-- Planned Date -->
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Planned Date</legend>
    <input type="date" class="input w-full" formControlName="plannedDate" />
    <div *ngIf="form.get('plannedDate')?.errors?.['pastDate'] && form.get('plannedDate')?.touched" class="text-error text-sm mt-1">
      Planned date cannot be in the past.
    </div>
  </fieldset>


  <!-- Asset Selection -->
  <fieldset class="fieldset">
    <legend class="fieldset-legend">Assets</legend>
    <p-multiselect [options]="assets" formControlName="assets" optionLabel="name" placeholder="Select Assets" [maxSelectedLabels]="2" styleClass="w-full md:w-80" class="w-full"></p-multiselect>
  </fieldset>

  <!-- Submit -->
  <button type="submit" class="btn btn-primary mt-auto w-full" [disabled]="form.invalid">
    Submit
  </button>
</form>
