<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto max-h-24 w-auto" src="waresy_app_icon.png" alt="Waresy logo" />
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight ">Sign in to your account</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="space-y-6" >
      <div>
        <label for="email" class="block text-sm/6 font-medium ">Email address</label>
        <div class="mt-2">
          <input type="email" name="email" [(ngModel)]="email" autocomplete="email" required class="input validator w-full" />
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="password" class="block text-sm/6 font-medium ">Password</label>
        </div>
        <div class="mt-2">
          <input type="password" name="password" [(ngModel)]="password" autocomplete="current-password" required class="input block w-full" />
        </div>
      </div>

      <div *ngIf="errorMessage" role="alert" class="alert alert-error alert-soft mb-2">
        <span>{{ errorMessage }}</span>
      </div>

      <div>
        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary flex w-full justify-center">Sign in</button>
      </div>
    </form>
  </div>
</div>
