<!-- Finaliz maintenance task modal -->
<app-finalize-maintenance-task
  [task]="selectedTaskToFinalize"
  (submit)="submitFinalReport($event)"
  (cancel)="closeFinalizeModal()">
</app-finalize-maintenance-task>
<!-- Modal for viewing final report -->
<dialog *ngIf="selectedReportTask?.finalReport" open class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Final Report for {{ selectedReportTask?.taskName }}</h3>
    <p class="text-sm text-gray-500 mb-2">
      Performed on: {{ selectedReportTask?.performedDate | date: 'dd-MM-yyyy' }}
    </p>
    <p class="py-4 whitespace-pre-line">{{ selectedReportTask?.finalReport }}</p>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn" (click)="closeReportModal()">Close</button>
      </form>
    </div>
  </div>
</dialog>
<div class="flex flex-wrap justify-between items-center mb-4 gap-4">
  <input
    type="text"
    class="input input-bordered w-full max-w-xs"
    placeholder="Search tasks..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="onSearchChange()" />

  <div class="flex gap-2">
    <button
      class="btn btn-primary"
      [disabled]="!canFinalizeTask"
      (click)="openFinalizeModal(selectedTask)">Finalize task</button>
    <button
      class="btn btn-error"
      [disabled]="!selectedTask || selectedTask.status == 'Completed'"
      (click)="onDeleteMaintenanceTask()">
      Delete
    </button>
    <button class="btn btn-outline" (click)="exportToJson()">
      Export
    </button>
    <button class="btn btn-primary" (click)="onAddMaintenanceTask()">
      + Add Task
    </button>
  </div>
</div>

<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table table-zebra w-full">
    <thead>
    <tr>
      <th>Task Name</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Contractor</th>
      <th (click)="sortByPlannedDate()" class="cursor-pointer select-none">
        Planned Date
        <span class="ml-1">
          <ng-container [ngSwitch]="sortDirection">
            <span *ngSwitchCase="'asc'">▲</span>
            <span *ngSwitchCase="'desc'">▼</span>
            <span *ngSwitchDefault class="text-gray-400">⇅</span>
          </ng-container>
        </span>
      </th>
      <th>Performed Date</th>
      <th><!-- View Report button --></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let task of filteredTasks"
      (click)="selectMaintenanceTask(task)"
      class="cursor-pointer"
      [ngClass]="{
          '!bg-accent !text-accent-content': selectedTask?._id === task._id
        }"
    >
      <td>{{ task.taskName }}</td>
      <td>
        <ng-container *ngIf="selectedTask?._id === task._id; else badge">
          <select
            class="select select-xs select-bordered"
            [ngModel]="task.status"
            (ngModelChange)="onStatusChange(task, $event)"
            (click)="$event.stopPropagation()"
          >
            <option *ngFor="let status of statusOptions" [value]="status" class="text-white">
              {{ status }}
            </option>
          </select>
        </ng-container>
        <ng-template #badge>
            <span class="badge" [ngClass]="getStatusClass(task.status)">
              {{ task.status }}
            </span>
        </ng-template>
      </td>
      <td>{{ task.assignedTo.firstName }} {{ task.assignedTo.lastName }}</td>
      <td>{{ task.contractor.name }}</td>
      <td>{{ task.plannedDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ task.performedDate ? (task.performedDate | date: 'dd-MM-yyyy') : '—' }}</td>
      <!-- View Report button -->
      <td>

        <button
          *ngIf="task.finalReport && task.status === 'Completed'"
          class="btn btn-xs btn-outline btn-info"
          (click)="openReportModal(task); $event.stopPropagation()">
          View Report
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
